/* style générale du body */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap");

* , html{
    margin:0;
    padding:0;
}

    body{
        margin: 2% auto;
        padding: 1%;
        width: 90%;
        font-family: Raleway;
    }
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: black;
    }

    /* Style pour logo - header */
    .logo{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    nav.bar{
        display:flex;
        width: 85%;
    }
        nav.bar ul {
        width: 90%;
        display: flex;
       justify-content: flex-end;
        }
        nav.bar ul li{
       padding: 1.5rem 1rem;
        }
    .logo ul li a {
        color:  black;
        font-weight: 500;
        padding: 1.5rem 0.5rem;
    }
    .logo ul li a:hover{
        color: #0065FC;
        border-top: solid #0065FC 0.2rem; 
        transition: 0.3s;
    }
    .inscription{
        color:#0065FC;
        padding-top:1.5rem;
    }
    .inscription:hover{
         border-top: solid #0065FC 0.2rem; 
    }
    /* style pour barre de recherche*/
    .recherche p{
        line-height: 1.7em;
    }
    .outil{
        margin:1% 0;
        padding:0;
        display: inline-block;
        height: 3em;
        width: 30em;;
    }
    .outil .fas {
        background: #F2F2F2;
        width: 3em;
        color: black;
        padding: 0.9em 0.4em;
        text-align: center;
        border-radius: 30% 0% 0 30%;
        }
    .click{
        background:#0065FC;
        padding: 1%;
        margin: 0;
        height: 3.5em;
        text-align: center;
        border-top-right-radius: 1.1em;
        border-bottom-right-radius: 1.1em;
        color: white;
        border:none;
        font-weight: bold;
        cursor: pointer;
        }
    .click:hover{
        opacity:0.5;
    }
    #cherche{
        padding:0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin:0;
        height: 3.3em;
        width: 15em;;
        border: solid 1px;
        opacity: 0.5;
        border-right: none;
        border-left:none;
    }

    /*style pour le filtre */
    .filtre{
        font-weight: 600;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        width:100%; 
        color: black;
    }
    .filtre ul {
        display: flex;
        width: 100%;
    }
    .filtre ul li{
        padding: 1% 3% 1% 0;
    }
    .filtre ul li a{
        color: black;
        border-radius: 1.1em;  
        border: solid grey 1px;
        border-left:none;
        padding: 0.5em 0.5em 0.5em 0;
        text-align: center;
    }
    .filtre ul li a .fas {
        padding: 0.5em;
        width:1.3em;
        text-align: center;
        background: #DEEBFF;
        border-radius: 100%;
        margin-right: 1.3em;
        color: #0065FC;
    }
    .filtre ul li a:hover{
        color: #0065FC;
    }
    .fas.fa-info-circle{
        color:#0065FC;
    }

    /* Style pour section hébergement*/

    #hebergement{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-content:flex-start;
        margin: 2em 0;
        line-height: 1.2em;
    }
    .col1{
        width:65%;
        background: #F2F2F2;
        border-radius: 1.5em;
        display: flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content: space-around;
        padding: 1em 0.5em;
    }
    .col1 h2{
        width: 85%;
        font-size: 1em;
        padding: 0.5em;
    }
    .col2 h2{
        font-size: 1em;
        padding: 1em 0.5em 1em 0.3em;
        width: 85%;
        display:flex;
        justify-content: space-between;
    }
    .col1 .leshotels {
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-evenly;
        align-self: flex-start;
    }
    .col1 .hotel{
        border-radius: 1em;
        background: white;
        max-width:30%;
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        text-decoration: none;
        margin-bottom: 3em;
        width: 30em;
        height: 14em;
    }
    .col1 .photo{
        width: 96%;
        padding:0.3em;
        height:60%;
    }
    .col1 .photo img{
        width:100%;
        height:100%;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        object-fit: cover;
    }
    .col1 .texte{
        color:black;
        text-decoration: none;
        font-size: 0.8em;
        padding:0.5em;
      }
    .col1 .texte:hover{
        opacity:0.5;
    }
    .col1 .plus{
        color:black;
        text-decoration: none;
        padding: 0.5em 1em;
        font-weight: 600;
    }
    .col1 .plus:hover{
        opacity:0.5;
    }
    .col2{
        width:30%;
        background: #F2F2F2;
        border-radius: 1.5em;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        padding: 1em  0.5em;
        justify-content: space-evenly;
        align-self: flex-start;
    }
    .col2 a{
        border-radius: 1em;
        background: white;
        margin-bottom: 0.5em;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        width:100%;
        height: 26%;
        text-decoration: none;
        height: 12em;
    }
    .col2 .photo{
        width: 40%;
        padding: 0.5em;
        height: 95%;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        }
    .col2 .photo img{
        overflow:hidden;
        width:100%;
        height:95%;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        padding: 0;
        object-fit: cover;
    }
    .col2 .texte{
        width: 50%;
        padding:  1em 0.5em;
        font-size: 0.8em;
        line-height: 1.7em;
        align-self: center;
        color:black;
        text-decoration: none;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        height: 80%;
    }
    .col2 .texte p{
        height:80%;
        font-weight:900;
    }
    .col2 .texte .flou {
        font-weight: 300;
    }
    .col2 .texte:hover{
        opacity:0.5;
    }
    .texte p:first-child {
        font-weight:bold;
    }
    .star{
        text-shadow: none;
    }
    .fas.fa-star.blue {
        color: #0065FC;
    }
    .fas.fa-star.gray{
        color:gray;
        opacity: 0.5;
    }

    /* Style pour section activité */

    #activite{
        display: flex;
        flex-wrap:wrap;
        width:100%;
        flex-direction:row;
        justify-content: space-between; 
        align-self: flex-end;
    }

    #activite a {
        text-decoration: none;
    }
    #activite p{
        font-weight: 600;
        color:black;
        font-size: 0.8em;
        padding: 1em 0.5em ;
    
    }
    #activite p:hover{
        opacity:0.5;
    }
    .colonne1 {
        width:25%;
        box-shadow: 0.2em 0.2em 0.2em #f6f6f6, -0.1em 0.2em #f6f6f6;
        border-radius: 1em;
        height:34em;
    }
    .colonne1 .photo{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .colonne1 img{
        height: 90%;
        object-fit: cover;
    }
    .colonne2{
        width:22%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height: 34em;
    }
    .colonne2 a {
        height:47%;
        box-shadow: 0.2em 0.2em 0.2em #f6f6f6, -0.1em 0.2em #f6f6f6;
        border-radius: 1em;
    }
    .act img{
        border-radius: 1em;
        width:100%;
    }
    .colonne2 .photo{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        object-fit: cover;
    }
    .colonne2 .act img {
        height:80%;  
    }

    /* Style pour footer */
    footer{
        display:flex;
        margin-top: 3em;
        line-height: 1.7em; 
        font-size: 0.8em;
        background: #f2f2f2;
        padding: 0.5em; 
    }
    footer section {
        margin-right: 15%;
    }
    footer a{
        color:black;
    }
    footer a:hover {
        opacity:0.8;
    }

/* style pour mobile max-width:767px */
@media screen and (min-width:411px) and (max-width:767px) {
    body{
        margin: 2% auto;
        width: 90%;
        border-right:solid lightgray 0.1em;
        border-left:none;
        border-top:none;
        border-bottom:none;
        line-height: 1.7em;
    }
    /* style pour menu et logo */
   .logo{
        display: flex;
        justify-content: space-between;
         width: 100%;
    }
    .bar{
        display:flex;
        flex-direction:column; 
        width: 80%;
    }
    nav.bar ul {
        display:flex;
        margin-left:0%;
        width: 100%;
        justify-content: space-between;
    }
   /* nav.bar ul li a{
        border-bottom: solid lightgray 0.1rem;
    }*/
    nav.bar ul{
        border-bottom: solid lightgray 0.1rem;
        margin-left:0;
        padding-left:0;
        margin-right:0;
        padding-right:0;
    }
    nav.bar ul li{
        margin-left:0rem;
         padding-left:0;
        margin-right:0;
        padding-right:0;
    }
    nav.bar ul li a{
        padding-bottom: 1.7em;
    }
    .logo ul li a:hover{
        border-bottom: solid #0065FC 0.2rem;
        border-top: none;
        transition: 0.3s;
    }
    .inscription:hover {
        border-top:none;
    }

    /* style pour barre de recherche*/
    .recherche .outil{
        text-align: center;
    }
    .outil{
        width: 100%;
    }
    .outil .fas {
        width: 3rem;
        font-size: 1.7em;
        padding: 0.2em 0em 0.5em 0em; 
    }
    #cherche{
        width: 50%;
    }

    /* style pour le filtre */
    .filtre ul {
        display: flex;
        flex-wrap:wrap;
    }
    .filtre ul li:first-child{
        width: 100%;
    }
    .filtre ul li{
       padding: 0.3em 0.1em;
    }
    .filtre ul li a{
        font-size: 0.9em;
    }

    /*style pour hebergement*/
    #hebergement{
        display:flex;
        flex-direction:column-reverse;
        margin: 2em 0;
        align-content:  space-between;
        justify-content: space-between;
    }
    .col2{
        width:96%;
    }
    .col2 a {
        height: 10em;
    }
    .col1{
        width:96%;
        flex-direction:column;
        margin-top: 2em;
        background:white;
    }
    .col1 a {
        height: 15em;
    }
    .col1 .leshotels{
        flex-direction:column;
        width:100%;
    }
    .col1 .hotel {
       max-width: 100%;
        margin: 0.5em auto;
        box-shadow: 0.5em 0.5em 0.5em lightgray;
    }
    .col1 .plus{
        padding: 0.5em 0.3em;
        height:1em;
    }

    /* style activité */
    #activite{
        flex-direction:column;
    }
    .colonne1{
        width: 98%;
        margin: 1.2em 0.2em;
        height: 18em;
    }
    .colonne1 img{
        height: 14em;
    }
    .colonne2 {
        width:98%;
        height: 35em;
        margin: 1.2em 0.2em;
    }
    .colonne2 a {
        height: 16em;
    }

    /* style pour footer*/
    footer{
        flex-direction:column;
    }
    footer section{
        margin: 1em 0.3em;
    }
} 
@media screen and (min-width:768px) and (max-width:1024px) {
    
    /* style pour bar menu */
    
    .logo{
        display: flex;
        width:100%;
        justify-content: space-around;
    }
    .bar{
        display:grid;
        width: 80%;
        justify-content: space-between;
    }
    .bar img{
        grid-column: 1;
    }
    .bar ul{
        grid-column: 2;
        display: grid;
        justify-content: flex-end;
    }
    
   /* style bar de recherche*/
    .outil .fas {
        width: 2rem;
        padding:0.5rem 0.5rem 0.9rem 0.5rem;
        font-size: 1.5em;
    }
    #cherche{
        width: 35%;
    }

       /* style pour le filtre*/
    .filtre ul {
        display:grid;
        grid-template-areas: "a a"
                             "b c"
                             "d e"
    }
    .filtre ul li:first-child{
        grid-area: a;
    }
    .filtre ul li:nth-child(2){
        grid-area:b;
    }
    .filtre ul li:nth-child(3){
         grid-area:d;
    }
    .filtre ul li:nth-child(4){
        grid-area:c;
    }
    .filtre ul li:last-child{
        grid-area:e;    
    }
  
       /* style pour hebergement */
       #hebergement{
        flex-direction:column;  
    }
    .col1{
        width: 97.5%;
    }
    .col1 .hotel{
        height: 16em;
        margin-bottom: 1.5em;
    }
    .col1 .photo{
        width: 96%;
        padding:0.3em;
        height:60%;
    }
    .col1 .plus{
        padding: 1em;
    }
    .col2 {
        width: 97.5%;
        margin-top: 1.5em;
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;
    }
    .col2 a{
         display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        max-width:30%;
        height: 16em;
        margin-bottom: 1.5em;
    }
    .col2 .photo{
        width:96%;
        padding:0.3em;
        height:60%;
    }
    .col2 .photo img{
        border-top-right-radius: 1em;
        border-bottom-left-radius:0;
        width:100%;
       
    }
    .col2 .texte{
        height: 30%;
        display: inline;
        width: 100%;
        padding: 0.3em;
    }
    /*style pour activité */
    /*style pour footer*/
  
}
@media screen and (max-width:410px){
   .logo{
        justify-content: space-between;
        margin-bottom: 1em;
    }
    nav.bar{
        display:flex;
        flex-direction:column;
    }
        nav.bar ul {
        flex-direction:column;
        }
        nav.bar ul li{
       padding: 0.5rem;
        }
    .logo ul li a {
        padding: 0.5rem;
    }
    .logo ul li a:hover{
        border-bottom: solid #0065FC 0.2rem; 
        border-top:none;
    }
    .inscription{
        padding-top:1rem;
    }
    .inscription:hover{
         border-top: none; 
         color:#0095FC;
        transition: 0.3s;
    }
    
    /* style pour barre de recherche*/
    .recherche p{
        display:none;
    }
    .outil{
        width: 100%;
    }
    .outil .fas {
        width:7%;
    }
    #cherche{
        width: 40%;
    }
    .recherche h1{
       font-size: 1.2em; 
       margin-bottom: 1.2em;
    }
    /*style pour le filtre */
    .filtre{
        flex-direction:column;
        flex-wrap: wrap;
    }
    .filtre ul {
        flex-direction: column;
    }
    .filtre ul li{
        padding: 3%;
    }
    .filtre ul li a .fas {
        padding: 0.5em 0.3em;
        width:0.3em;
        background: none;
        border-radius: 100%;
        margin-right: 1em;
    }
    
    /* Style pour section hébergement*/

    #hebergement{
        flex-direction:column;
    }
    .col1{
        width:100%;
        margin-bottom: 2rem;
    }
    .col1 .leshotels {
        width: 100%;
    }
    .col1 .hotel{
        max-width:100%;
    }
    .col2{
        width:100%;
        flex-direction:column;
    }
    .col2 a{
        flex-direction:column;
        flex-wrap: wrap;
        width:100%;
        margin-bottom: 2em;
        height: 18em;
        justify-content: center;
    }
    .col2 .photo{
        width: 96%;
        padding: 0.3em;
        height: 60%;
        flex-direction: column;
    }
    .col2 .photo img{
        width:100%;
        height:100%;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1em;
    }
    .col2 .texte{
        width: 100%;
        padding:  0.5em;
        display:flex;
        flex-direction:column;
        height: 30%;
    }
    .col2 .texte p{
        height:60%;
        padding-bottom: 0.5em;
    }
    
    /* Style pour section activité */

    #activite{
        width:100%;
        flex-direction:column;
        margin: 0;
    }
    .colonne1 {
        width:100%;
        height:14em;
        margin-bottom: 2em;
        margin-top: 2em;
    }
    .colonne2{
        width:100%;
        display:flex;
        flex-direction: column;
        height: 30em;
    }
    .colonne2 a {
        height:14em;
        box-shadow: 0.2em 0.2em 0.2em #f6f6f6, -0.1em 0.2em #f6f6f6;
        border-radius: 1em;
    }
    .act img{
        border-radius: 1em;
        width:100%;
    }
    .colonne2 .photo{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        object-fit: cover;
    }
    .colonne2 .act img {
        height:80%;  
    }
     .colonne1 .act img {
        height:80%;  
    }
    
    /* Style pour footer */
    footer{
        flex-direction:column;
           }
}